.Main_page_first_segment {
    max-height: 10%;
	max-width: 200%; 
}

.Chronicle_heading {
    position: absolute;
width: 813px;
height: 60px;
left: 132px;
top: 211px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-transform: capitalize;

color: #FDFAFF;

}

.Hackathon_detail {  
    position: absolute;
    width: 813px;
    height: 72px;
    left: 137px;
    top: 274px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    
    color: #FCF9FF;
    
}

.Hackathon_topic {
    position: absolute;
    width: 577px;
    height: 68px;
    left: 142px;
    top: 359px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.08em;
    font-variant: small-caps;

    color: #FCF9FF;

}

.Hackathon_date {
    position: absolute;
width: 577px;
height: 68px;
left: 140px;
top: 402px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.08em;
text-transform: capitalize;

color: #FCF9FF;


}

.Hackathon_description {
    position: absolute;
left: 9.66%;
right: 42.31%;
top: 52.61%;
bottom: 32.57%;

font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

letter-spacing: 0.08em;

color: #FCF9FF;

}

#background_theme {
    position: absolute;
left: 5%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(288.15deg, #45108A 2.28%, #3D065F 29.57%, #10054D 101.35%);
}

#first_segment_graphic {
    position: absolute;
    width: 578.27px;
    height: 512.61px;
    left: 806px;
    top: 167.43px;
    
    transform: rotate(-0.74deg);

}